  public function getAdAccounts(
    array $fields = array(), array $params = array()) {
    return $this->getManyByConnection(AdAccount::className(), $fields, $params);
  }

  public function getAdAccountGroups(
    array $fields = array(), array $params = array()) {
    return $this->getManyByConnection(
      AdAccountGroup::className(),
      $fields,
      $params);
  }
