  /**
   * @deprecated use getPreviews instead
   */
  public function getAdPreviews(
    array $fields = array(), array $params = array(), $pending = false) {
    return $this->getPreviews($fields, $params, $pending);
  }
