<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <LangVersion>latest</LangVersion>
    <AssemblyName>Meta.Ads.SDK</AssemblyName>
    <RootNamespace>Meta.Ads.SDK</RootNamespace>
    <Version>{{sdk_version}}</Version>
    <AssemblyVersion>{{sdk_version}}</AssemblyVersion>
    <FileVersion>{{sdk_version}}</FileVersion>
    <PackageVersion>{{sdk_version}}</PackageVersion>
    <Title>Facebook Business SDK</Title>
    <Description>Official Facebook Marketing API SDK for C#</Description>
    <Authors>Meta Platforms, Inc.</Authors>
    <PackageProjectUrl>https://github.com/facebook/facebook-business-sdk-dotnet</PackageProjectUrl>
    <PackageLicenseExpression>MIT</PackageLicenseExpression>
    <RepositoryUrl>https://github.com/facebook/facebook-business-sdk-dotnet</RepositoryUrl>
    <RepositoryType>git</RepositoryType>
    <GenerateDocumentationFile>true</GenerateDocumentationFile>
    <Nullable>enable</Nullable>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Newtonsoft.Json" Version="13.0.3" />
    <PackageReference Include="System.Net.Http" Version="4.3.4" />
  </ItemGroup>

</Project>
